<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

                <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/darkly/bootstrap.min.css" crossorigin="anonymous">

                    <title>SuperPerson Sighting</title>
                    </head>
                    <body>

                        <div class="container">
                            <div class="row m-4">
                             <div class="col text-center m-3" sec:authorize="isAuthenticated()">
                                <h3>You are logged in as <span th:text="${#authentication.name}">
                    </span>&nbsp;&nbsp;&nbsp;</h3>
                                     </div>
   
                            </div>
            
                            <div class="row m-4">
                                <div class="col text-center border border-dark">
                                    <h1><a href="/" class="text-dark">SuperPerson Sighting</a></h1>
                                </div>
                            </div>
                            <div class="row m-4 border border-dark">
                                <!-- th$ - means that is doing java code with tymeleaf, use binding result--->
                                <div class="col text-center m-3">
                                    <a href="superPersons" class="btn btn-outline-primary btn-lg">Superperson</a>
                                </div>
                                <div class="col text-center m-3">
                                    <a href="superPowers" class="btn btn-outline-primary btn-lg">Superpowers</a>
                                </div>
                                <div class="col text-center m-3">
                                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                                </div>
                                <div class="col text-center m-3">
                                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                                </div>
                                <div class="col text-center m-3">
                                    <a href="orgs" class="btn btn-outline-primary btn-lg">Organizations</a>
                                </div>
                            </div>

                            <div sec:authorize="isAuthenticated()">   

                                <div class="row m-4 border border-dark">
                                    <div class="col-12 m-1 text-center"
                                         th:if="${!errors.isEmpty()}">
                                        <p class="alert alert-danger" th:each="error : ${errors}"
                                           th:text="${error.message}">Error message</p>
                                    </div>
                                    <div class="col-3 text-center m-3">
                                        <span class="h3">Add Power</span>
                                    </div>
                                    <div class="col-7 text-center m-3">
                                        <form action="addPower" method="POST">
                                            <div class="form-group row">
                                                <input type="hidden"
                                                       th:name="${_csrf.parameterName}"
                                                       th:value="${_csrf.token}"/>&nbsp;    
                                                <label for="Name" class="col-3 col-form-label">
                                                    Name</label>&nbsp;
                                                <div class="col-9">
                                                    <input type="text" name="Name"  maxlength="30"
                                                           id="Name" class="form-control"/>&nbsp;
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Description" class="col-3 col-form-label">
                                                    Description</label>&nbsp;
                                                <div class="col-9">
                                                    <input type="text" name="Description" 
                                                           id="Description" class="form-control"/>&nbsp;
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Add Power</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-4 border border-dark">
                                <div class="col text-center m-3">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <div sec:authorize="isAuthenticated()">    <th>Edit</th> </div>
                                                <div sec:authorize="isAuthenticated()">      <th>Delete</th> </div>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each = "superPower: ${superPowers}"> 
                                                <td th:text ="${superPower.superPowerId}">Superpower ID</td>
                                                <td th:text = "${superPower.name}">Superpower Name </td>
                                                <td th:text = "${superPower.description}">Superpower Description</td>
                                                <div sec:authorize="isAuthenticated()">   <td><a href="#" th:href = "@{/editSuperPower(SuperPowerId=${superPower.superPowerId})}">Edit</a></td> </div> <!--need to use upper case-->
                                                <div sec:authorize="isAuthenticated()">    <td><a href="#" th:href="@{/deleteSuperPower(SuperPowerId=${superPower.superPowerId})}">Delete</a></td> </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                        
                        <div sec:authorize="isAuthenticated()">
                            <form class="form-inline"
                                  method="POST"
                                  action="/logout">
                                <input type="hidden"
                                       th:name="${_csrf.parameterName}"
                                       th:value="${_csrf.token}"/>
                                <label for="submit">
                                    SuperSighting : <span th:text="${#authentication.name}">
                                    </span>&nbsp;&nbsp;&nbsp;|
                                </label>
                                <button class="btn btn-link"
                                        id="submit"
                                        type="submit">Logout</button>
                            </form>
                        </div>

                        <!-- End main body -->

                        <!-- Optional JavaScript -->
                        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/darkly/bootstrap.min.css" crossorigin="anonymous"></script>
                    </body>
                    </html>
